body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* body는 기본 Flow를 유지하되, container의 기준점이 되도록 position: relative 설정 */
    position: relative; 
    background-color: rgb(20, 20, 19); /* 검은색 */
    font-family: sans-serif;
    /* display: flex;  */
    justify-content: center; 
    align-items: center;
}
.page{
    display:none;
}

.page.current{
    display:block;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* 컨테이너 (점을 배치할 기준 영역) */



